@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.grid-container {
  @apply grid h-auto w-full p-6 m-3 shadow-md rounded-md;
  grid-template-columns: 100%;
  grid-template-areas:
    "header "
    "details"
    "remover";
}

.grid-container > .item {
  @apply w-full h-full;
}

.header {
  @apply inline-flex flex-col;
  grid-area: header;
}

.details {
  @apply inline-flex flex-col;
  grid-area: details;
}

.remover {
  @apply inline-flex flex-col;
  grid-area: remover;
}

@screen md {
  .grid-container {
    @apply gap-3;
    grid-template-columns: 50% 40% 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "header details remover";
  }

  .details {
    @apply flex-row justify-between;
  }

  .remover {
    @apply flex-row justify-center items-center;
  }
}
